
body, html {
    background-color: #666;
    margin: 0;
    padding: 0;
    height: 100%;
}


.interface1 {
    display: block;
    background-color: #000;
    width: 376px;
    height: 475px;
    margin: 130px auto 0;
    border-radius: 25px;
  }

  .logo {
    border-radius: 25px;
    width: 97px;
    height: 95px;
    margin: 0 auto;
  }

  .fundo {
    background-color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 1px;
    width: 195px;
    height: 55px;
    margin: -70px auto 0;
  }

  .titulo {
    color: #fff;
    text-align: center;
    height: 40px;
    margin: px;
    line-height: 40px;
    font-size: 30px;
  }

  .interface2 {
    background-color: hsla(0, 0%, 51%, 0.385);
    width: 310px;
    height: 300px;
    margin: 15% 10% 10%;
    border-radius: 25px;
  }

  @media screen and (max-width: 768px) {
    .interface1 {
      width: 80%;
      height: auto;
      margin: 50px auto 0;
    }

    .interface2 {
      width: 80%;
      height: auto;
      margin: 15% auto;
    }
  }

  .input1,
  .input2,
  .input3 {
    display: flex;
    align-items: center;
  }

  .input1 h2,
  .input2 h2,
  .input3 h2 {
    color: #fff;
    margin-right: 15px;
    margin-left: 15px;
  }

  .input1 input{
    background-color: #d9d9d9;
    border-radius: 7px;
    width: 50px;
    height: 20px;
    margin-left: 53px;
    margin-top: 0;


  }
  .input2 input
  {
    background-color: #d9d9d9;
    border-radius: 7px;
    width: 50px;
    height: 20px;
    margin-left: 20px;
    margin-top: 0;
  }
  .input3 input{
    background-color: #d9d9d9;
    border-radius: 7px;
    width: 50px;
    height: 20px;
    margin-left: -12px;
    margin-top: 0;


  }



  .calcular {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color .3s;
    width: 100px;
    height: 30px;
    margin-left: 100px;
    margin-top: 0;
  }

  .calcular:hover {
    background-color: #ff0000;
    color: #fff;
  }

  .reset-btn {
    background-color: #000;
    color: #fff;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 35%;
    cursor: pointer;
    transition: background-color .3s;
  }

  .reset-btn:hover {
    background-color: #e74c3c;
  }

  .resultado {
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-left: 95px;
    margin-top: 10px;
  }


  .rodape{
    display: flex;
    }
    
    .imgmodo{
    width: 25px;
    height: 25px;
    margin-left: 80%;
    }